/DebugProject/DefaultBuild/*.obj
*.obj
/DefaultBuild/vecttbl.p
/DefaultBuild/tpldir/*.ti
/DebugProject/DefaultBuild/tpldir/*.ti
/DefaultBuild/*.pp
/DefaultBuild/tpldir/*.pi
/DebugProject/DefaultBuild/tpldir/*.pi
/DefaultBuild/*.p
/DefaultBuild/*.obj
/DebugProject/*.mtud
/*.mtud
/*.rcpe
/DebugProject/DefaultBuild/*.mot
/DefaultBuild/*.map
/DebugProject/DefaultBuild/*.map
/DefaultBuild/*.lib
/DebugProject/DefaultBuild/*.lib
/DefaultBuild/*.lbp
/DefaultBuild/*.lbk
/DebugProject/DefaultBuild/*.lbk
/DefaultBuild/tpldir/*.ii
/DebugProject/DefaultBuild/tpldir/*.ii
/DefaultBuild/*.clnk
/DebugProject/DefaultBuild/*.clnk
/DebugProject/DefaultBuild/*.abs
